<table rules="all" border="10px">
    <tr>
        <td>test</td>
        <td>t1</td>
        <td>t2</td>
        <td>t3</td>
        <td>t4</td>
        <td>total</td>
    </tr>
    <tr>
        <td>marks</td>
        <td><%= t1%></td>
        <td><%= t2%></td>
        <td><%= t3%></td>
        <td><%= t4%></td>
        <td><%= total%></td>
    </tr>
</table>